.node circle {
    stroke: #333;
    stroke-width: 1.0px;
}

.node text {
    font: 12px helvetica, arial, sans-serif;
    pointer-events: none;
    text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}

.node a {
    text-decoration: none;
    /*background-color: #B2FF99;*/
}

.link_normal {
    stroke: #999;
    stroke-opacity: 0.85;
    stroke-width: 1.5px;
}

.link_hasSource {
    stroke: #333;
    stroke-opacity: 0.35;
    stroke-width: 1.5px;
}
/*.node_text {
    font: 10px sans-serif;
    pointer-events: none;
    text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}*/
